img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* HEADER 2 */
.main__title {
  font-family: @font-montserrat;
  font-size: @h2-font-size;
  font-weight: 600;
  line-height: 152%;
  letter-spacing: 0.16em;
}

/* HEADER 3 */
.main__subtitle {
  font-family: @font-montserrat;
  font-size: @h3-font-size;
  font-weight: 600;
  line-height: 152%;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}

/* HEADER 4 */
.main__label {
  font-family: @font-montserrat;
  font-size: @h4-font-size;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

/* PARAGRAPH */
.main-text {
  font-family: @font-montserrat;
  font-size: @p-font-size;
  font-weight: 400;
  line-height: 148%;
}

/* ACTION LARGE */
.action-large {
  font-family: @font-montserrat;
  font-size: @action-large;
  font-weight: 600;
  line-height: 152%;
  letter-spacing: 0.16em;
  text-transform: uppercase;
}

/* ACTION SMALL */
.action-small {
  font-family: @font-montserrat;
  font-size: @action-small;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

/* CAPTION */
.caption {
  font-family: @font-allura;
  font-size: @caption-size;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0.05em;
}

/* SLIDER TEXT */
.slider-text {
  font-family: @font-montserrat;
  font-size: @slider-size;
  font-weight: 600;
  text-transform: uppercase;
}
