// Colors

// Viewports
@desktop-width: 1440px;
@tablet-width-max: @desktop-width - 1px;
@tablet-width-min: 768px;
@mobile-width-max: @tablet-width-max - 1px;
@mobile-width-min: 380px;

//Fonts
@font-montserrat: "Montserrat","Arial", sans-serif;
@font-allura: "Allura", "Times New Roman", serif;

//REM
@basic: 15;         // Your base font-size in pixels
//@rem: @font-size*1rem;

//Font-size
@h1-font-size: (32/@basic)*1rem;
@h2-font-size: (24/@basic)*1rem;
@h3-font-size: (16/@basic)*1rem;
@h3-font-size-mobile: (12/@basic)*1rem;
@h4-font-size: (12/@basic)*1rem;
@p-font-size: (16/@basic)*1rem;
@action-large: (24/@basic)*1rem;
@action-small: (12/@basic)*1rem;
@caption-size: (24/@basic)*1rem;;
@slider-size: (80/@basic)*1rem;

// Colors
@color-primary: #FF4646;
@color-primary10: rgba(255,70,70,0.1);
/* @color-primary10:  */
@color-dark: #181C29;
@color-static-white: #ffffff;
@color-static-white40: rgba(255,255,255,0.4);
/*@color-static-white20: */
@color-tag-purple: #4361FF;
@color-tag-pink: #FF43F7;
@color-tag-green: #06A44F;
@color-content-background: #ECF3F8;
