#about {
  padding: 62px 82px;
}

.about__wrapper {
  display: flex;
  justify-content: space-between;
  min-height: 528px;
  background-color: @color-static-white;
  border-radius: 20px;
}

.about__textwrapper {
  max-width: 484px;
  padding-top: 160px;
  padding-left: 60px;
}

.about__title {
  margin: 0;
  margin-bottom: 20px;
  color: @color-primary;
}

.about__subtitle {
  margin: 0;
  margin-bottom: 20px;
  font-family: @font-montserrat;
  text-transform: uppercase;
}

.about__text {
  margin: 0;
}

.about-imgwrapper {
  line-height: 0;
}

.about__image {
  border-radius: 20px;
}

