#best-gifts {
  padding-left: 82px;
  padding-right: 82px;
  box-sizing: border-box;
}

.best-gifts__title {
  margin: 0;
  margin-bottom: 12px;
  text-align: center;
  color: @color-static-white;
}

.best-gifts__subtitle {
  margin: 0;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
  color: @color-static-white;
}

.best-gifts__list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.best-gifts__item:not(:last-child) {
  margin-right: 12px;
}
