.button {
  display: flex;
  width: auto;
  //min-width: 235px;
  padding: 20px 32px;
  border: none;
  border-radius: 20px;
  text-align: center;
  color: @color-static-white;
  background-color: @color-dark;
  box-sizing: border-box;
  cursor: pointer;
  &:hover {
    color: @color-dark;
    background-color: @color-static-white;
  }
}
