.cta {
  height: 668px;
  background-image: url('../../img/cta-background.png');
  background-size: cover;
  background-position: center;
}

.cta__textwrapper {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  width: 426px;
  margin: 0 auto;
  padding: 120px 0;
  padding-bottom: 8px;
}

.cta__title {
  margin: 0;
  color: @color-static-white;
}

.cta__subtitle {
  margin: 0;
  margin-bottom: 20px;
  text-align: center;
  color: @color-static-white;
  text-transform: uppercase;
}

.cta__button {
  margin-bottom: 20px;
}


