.footer {
  padding: 60px 82px;
  padding-top: 53px;
}

.footer__copyright {
  margin: 0;
  margin-bottom: 12px;
  text-align: center;
}

.footer__copyright--rs-school {
  display: block;
  margin: 0 auto;
  text-align: center;
  color: @color-dark;
  &:hover {
    color: @color-primary;
  }
}
