.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 64px;
  padding: 12px 82px;
  box-sizing: border-box;
}

.page-header__logo {
  display: flex;
  align-self: flex-end;
  cursor: pointer;
}

.page-header__logo .page-header__label {
  display: block;
  padding-top: 12px;
}
